@import "./variables.styl"

*
&:before
&:after
    box-sizing border-box
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)

*
html
body
  line-height (20/14)
  font-family $font-family
  user-select none

html
  font-size 20px

body
  font-size $font-size-3

a
button
 outline none
