@import "./variables.styl"

*
&:before
&:after
    box-sizing border-box
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)

*
html
body
  line-height (20/14)
  font-family $font-family
  user-select none

a
button
 outline none
