@font-face
  font-family "hekr-components-font"
  src url('../fonts/hekr-components-font.eot')
  src url('../fonts/hekr-components-font.eot#iefix') format('embedded-opentype'),
    url('../fonts/hekr-components-font.woff') format('woff'),
    url('../fonts/hekr-components-font.ttf') format('truetype'),
    url('../fonts/hekr-components-font.svg#hekr-components-font') format('svg')

.hk-icon
  font-family "hekr-components-font"
  font-style normal

.hk-icon-xuanzeqi:before
  content "\e9bf"

.hk-icon-xuanzeqi_xuanzhong:before
  content "\e9c0"

.hk-icon-xuanzhong:before
  content "\e9c1"
