@font-face
  font-family "hekr-components-font"
  src url('../fonts/hekr-components-font.eot')
  src url('../fonts/hekr-components-font.eot#iefix') format('embedded-opentype'),
    url('../fonts/hekr-components-font.woff') format('woff'),
    url('../fonts/hekr-components-font.ttf') format('truetype'),
    url('../fonts/hekr-components-font.svg#hekr-components-font') format('svg')

[class^="hk-icons-"], [class*=" hk-icons-"]
  font-family "hekr-components-font"
  font-style normal

.hk-icons-angel-right:before
  content "\e702"

.hk-icons-angel-left:before
  content "\e701"

.hk-icons-delete:before
  content "\e700"

.hk-icons-circle:before
  content "\e705"

.hk-icons-week-checked:before
  content "\e704"

.hk-icons-check-checked:before
  content "\e703"

.hk-icons-delete-simple:before
  content "\e7d6"

.hk-icons-delete-device:before
  content "\e7a3"
