// 颜色变量
$color-primary = #3aa4f7
$color-info = #3fe0a9
$color-warning = #f15151
$color-disabled = #cccccc
$color-black = #383838
$color-gray = #a4a4a4
$color-white = #ffffff

$color-bg-primary = #f0f0f0

// 字体系列
$font-family = "PingFang-SC-Medium", "Source Han Sans", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif
// 字体大小
$font-size-1 = 1.4rem
$font-size-2 = 1.15rem
$font-size-3 = 0.8rem
$font-size-4 = 0.7rem
$font-size-5 = 0.6rem

$border-radius = 0.15rem

$zindex-base = 500
$zindex-lower = 100
$zindex-higher = 550
