// 颜色变量
$color-primary = #3aa4f7
$color-info = #3fe0a9
$color-warning = #f15151
$color-disabled = #cccccc
$color-black = #383838
$color-gray = #a4a4a4
$color-white = #ffffff

$color-bg-primary = #f0f0f0

// 字体系列
$font-family = "PingFang-SC-Medium", "Source Han Sans", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
// 字体大小
$font-size-1 = 28px
$font-size-2 = 23px
$font-size-2 = 18px
$font-size-3 = 16px
$font-size-4 = 14px
$font-size-5 = 12px

$border-radius = 3px
